{% extends 'nix/base-geral.html' %}

     {% block content %}
     {% if user.is_authenticated %}
     <!-- Header Sessao Area Anunciante -->
          <div class="bg-warning mb-0 col-12 mt-1">
     <!--Anuncios display-->
          <div class="m-3" style="background: lightgray;">
        <span class="col-7  mt-4  " >Olá:  {{ user.get_username }} você está logado na area de Anunciante.</span>
        <span  class="mr-5 mt-2 col-2  " style="float: right;" ><a class="btn btn-sm bg-danger text-white" href="{% url 'logout'%}?next={{request.path}}">Logout</a></span>

        <h5 class="text-center col-12 mt-5  rounded p-3 mb-0">Faça Aqui a Gestão de seus Anuncios.</h5>
        <!-- Formulário inline -->
      <div class=" col-10 d-block mb-5 p-0 m-auto  " >
         <form method="GET" class="mb-3" >
        <input type="text"  class="form-control d-inline col-9  " placeholder="Pesquisar seus anúncios" name="search" id="search">
        <div class="input-group-prepend d-inline mr-4 col-2  "  style="float: right;">
          <button class="btn btn-outline-light bg-primary " type="submit" id="button-addon1">Buscar</button>
        </div>
      </form>
      </div>
      <div class=" d-inline ml-4  col-2 my-0 "  >
          <span><a class="btn btn-primary mx-2 " href="{% url 'anunciar'%}">Novo Anúncio</a></span>
        </div>

      <div>
         <!-- Fim  Header Sessao Area Anunciante -->
         {%for anuncio in posts %}
    <div class=" row    bg-light rounded mt-4 mx-auto p-3  " style="border: 1px solid red;">

      <div id="carouselExampleControls" class="carousel slide col-6 d-none d-md-block" data-ride="carousel" style="border:1px solid gray; border-radius:10px;">
  <div class="carousel-inner ">
    <div class="carousel-item active ">
      <img class="img  d-block  col-12  " src="{{anuncio.imagem1.url}}" alt="Primeiro Slide" >

    </div>
    <div class="carousel-item">
      <img class="img  d-block col-12 " src="{{anuncio.imagem2.url}}" alt="Segundo Slide">
    </div>
    <div class="carousel-item">
      <img class="img  d-block col-12 " src="{{anuncio.imagem3.url}}" alt="Terceiro Slide">
    </div>
    <div class="carousel-item">
      <img class="img  d-block col-12 " src="{{anuncio.imagem4.url}}" alt="Terceiro Slide">
    </div>
    <div class="carousel-item">
      <img class="img  d-block col-12  " src="{{anuncio.imagem5.url}}" alt="Terceiro Slide">
    </div>
    <div class="carousel-item">
      <img class="img  d-block col-12 " src="{{anuncio.imagem6.url}}" alt="Terceiro Slide">
    </div>
    <div class="carousel-item">
      <img class="img  d-block col-12  " src="{{anuncio.imagem7.url}}" alt="Terceiro Slide">
    </div>
    <div class="carousel-item">
      <img class="img d-block col-12  " src="{{anuncio.imagem8.url}}" alt="Terceiro Slide">
    </div>
    <div class="carousel-item">
      <img class="img  d-block col-12 " src="{{anuncio.imagem9.url}}" alt="Terceiro Slide">
    </div>
    <div class="carousel-item">
      <img class="img  d-block col-12" src="{{anuncio.imagem10.url}}" alt="Terceiro Slide">
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>

<!--Responsivo para xs -->
<div id="carouselExampleControls" class="carousel slide col-12 d-block d-md-none" data-ride="carousel" style="border:1px solid gray; border-radius: 10px;">
  <div class="carousel-inner ">
    <div class="carousel-item active ">
      <img class="img  d-block  col-12  " src="{{anuncio.imagem1.url}}" alt="Primeiro Slide" >

    </div>
    <div class="carousel-item">
      <img class="img  d-block col-12 " src="{{anuncio.imagem2.url}}" alt="Segundo Slide">
    </div>
    <div class="carousel-item">
      <img class="img  d-block col-12 " src="{{anuncio.imagem3.url}}" alt="Terceiro Slide">
    </div>
    <div class="carousel-item">
      <img class="img  d-block col-12 " src="{{anuncio.imagem4.url}}" alt="Terceiro Slide">
    </div>
    <div class="carousel-item">
      <img class="img  d-block col-12  " src="{{anuncio.imagem5.url}}" alt="Terceiro Slide">
    </div>
    <div class="carousel-item">
      <img class="img  d-block col-12 " src="{{anuncio.imagem6.url}}" alt="Terceiro Slide">
    </div>
    <div class="carousel-item">
      <img class="img  d-block col-12  " src="{{anuncio.imagem7.url}}" alt="Terceiro Slide">
    </div>
    <div class="carousel-item">
      <img class="img d-block col-12  " src="{{anuncio.imagem8.url}}" alt="Terceiro Slide">
    </div>
    <div class="carousel-item">
      <img class="img  d-block col-12 " src="{{anuncio.imagem9.url}}" alt="Terceiro Slide">
    </div>
    <div class="carousel-item">
      <img class="img  d-block col-12" src="{{anuncio.imagem10.url}}" alt="Terceiro Slide">
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>



      <table class="d-inline  col-4 mt-3 ml-3 " >
        <tr >
          <td >Ano:</td>
          <td class="pl-5">{{anuncio.ano_fabricacao}}</td>
        </tr>

        <tr>
          <td>Marca:</td>
          <td  class="pl-5">{{anuncio.marca}}</td>
        </tr>

        

        <tr>
          <td>Modelo</td>
          <td class="pl-5">{{anuncio.modelo}}</td>
        </tr>

        <tr>
          <td>Cor:</td>
          <td class="pl-5">{{anuncio.cor}}</td>
        </tr>

        <tr>
          <td>Km:</td>
          <td class="pl-5">{{anuncio.km}}</td>
        </tr>

        <tr>
          <td>Anunciante:</td>
          <td class="pl-5">{{anuncio.anunciante}}</td>
        </tr>

        <tr>
          <td>Valor:</td>
          <td class="pl-5">{{anuncio.valor}}</td>
        </tr>

        <tr class="mb-5">
          <td>Opcionais:</td>
        </tr>

        <tr>
          <td class="">{{anuncio.acessórios_opcionais}}</td>
        </tr>

       
      </table>

      <table>
        
      </table>

      <div class="mt-4  ml-5 mr-5 py-3 ">
      <span><a class="btn btn-primary  px-5 " href="{% url 'anuncio_editar' pk=anuncio.pk %}">Editar</a></span>
      
      
     </div>

     <div class="mt-4  ml-5 mr-5 py-3">
      <span><a class="btn btn-primary  mr-5 px-4" href="{% url 'anuncio' pk=anuncio.pk %}">Ver no Site</a><span>
    </div>
     
<span class="ml-5 mt-3 pl-5"><!-- Botão para acionar modal -->
<button type="button" class="btn btn-danger mt-4  ml-5   float-right " data-toggle="modal" data-target="#modalExemplo">
  Excluir Anúncio
</button></span>

<!-- Modal -->
<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Excluir Anuncio Id  {{anuncio.pk}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{request.user}}
        <br>
        O Anuncio será apagado completamente.<br>
        Deseja Continuar ??<br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <span><a class="btn btn-danger mx-2" href="{% url 'anuncio_deletar' pk=anuncio.pk %}">SIM !!! Excluir o Anuncio ID-{{request.user}}-{{anuncio.id}}</a><span>
      </div>
    </div>
  </div>
</div>
        
           

      
      


      

     <div class="clearfix"></div>
       
     </div>
      <!--Fim Colunas -->
        {% empty %}

        <div>
            <h1>Voce ainda nao tem Anuncios Cadastrados!!</h1>
            <h5>Para Cadastrar seus  Veículos é muito fácil...</h5>
            <p> Acesse o Botão abaixo e preencha o formúlario com dados como  Modelo, Marca, Ano, Valor e Anunciante !!</p>
            <a  class="btn btn-outline-primary btn-sm  m-0 col-md-12  "  href="">Novo Anúncio</a>
        </div>

    {% endfor %}
    </div>
       <!-- display -->

        {% else %}
         <h2 class="col-12 text-center mt-3">Você fez Log Off</h2>
        <div class="row mb-5 mt-5 mb-5  p-5">
         
        <span class="m-auto">
          <a class="btn btn-lg bg-primary" href="{% url 'login'%}?next={{request.path}}">Login Novamente</a>
        </span>

        <span class="m-auto">
          <a class="btn btn-lg bg-primary" href="http://127.0.0.1:8000/">Para continuar no site e ver todas os anúncios</a>
        </span>
        </div>
        {% endif %}
        

       
    {% endblock %}



    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
